.App-header {
  width: 100%;
  height: 100px;
  display: flex;
  border-bottom: red 2px solid;
}
.App-header img {
  height: 80px;
  width: 80px;
}
.App-header h2 {
  color: red;
  font-size: large;
  align-self: center;
  margin-left: 10px;
}
