* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  height: 10vh;
  width: 100vw;
}

.App-body {
  height: 50vh;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
